export(new_spa_params)
export(simulate_branching_tree)
export(compute_path_metrics)
export(compute_tree_shape)
export(compute_scaling_metrics)
export(compute_tree_allometries)
export(compute_node_path_lengths)
export(estimate_scaling_exponent)
export(analyze_ensemble)
export(analytic_symmetric_wbe)
export(plot_tree)
export(plot_smith_tree_panel)
export(plot_pathfraction_scaling)
export(plot_tree_allometries)
export(plot_path_length_distribution)
export(plot_tree_teaching_dashboard)
export(run_scaling_experiment)
importFrom(stats, lm)
